################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebDemoJoensuu/v15
/WebDemoJoensuu/bin/Debug/netcoreapp2.1
/WebDemoJoensuu/obj/Debug/netcoreapp2.1
